.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.coffee {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: fit-content;
  padding: 20px;
  height: 100px;
}
