.theater {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.seat {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  border: 1px solid yellow;
}
.middle {
  border: 1px solid red;
}
.back {
  border: 1px solid black;
}
